* {
  font-size: 100%;
  font-family: Verdana, Tahoma, sans-serif;
  color: #333;
}

html body {
  background-color: #fff;
  margin: 0;
  height: 100%;
}

html body .dark {
  background-color: #000;
  color: whitesmoke;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

body header {
  background-color: #1b42c2f3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

h1,
h4 {
  color: whitesmoke;
}

h1 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

h3 {
  font-size: 3rem;
}

.primero {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem 4rem 1rem 4rem;
}

.segundo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  padding-right: 40rem;
}

.titulo-info {
  color: blue;
}

.info {
  color: #444;
}

.foto {
  border-radius: 50%;
  border: 0.5rem solid #444;
  width: auto;
  max-height: 300px;
}

.boton-modo {
  width: auto;
  max-height: 50px;
}

.hidden {
  visibility: hidden;
}
